@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html, .app {
    background-color: #a39f82;
    background-image: URL('./assets/exclusive-paper.png');
    background-repeat: repeat;
}

body {
    margin-top: 70px;
}

.pageTitle {
    font-family: 'Alfa Slab One', cursive;
}

.Card {
    Width: 200px;
    background-color: #D7D7D7;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.69);
}

.search {
    justify-content: right;
}

.newBookForm {
    max-width: 500px;
    padding-left: 50px;
    padding-right: 50px;
}

.newBookBtn {
    border-radius: 8px;
    border: 2px solid black;
    background-color: #D7D7D7;
}