@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html, .app {
    background-color: #a39f82;
    background-image: URL('./assets/exclusive-paper.png');
    background-repeat: repeat;
}

body {
    margin-top: 70px;
}

.pageTitle {
    font-family: 'Alfa Slab One', cursive;
}